<%= render "shared/navbar" %>

<div class="container listpets-container">
  <h2>Wishlist</h2>
  <% @pets_in_shelters.each do |shelters| %>

    <div class="shelter-cards">


      <div class="shelter-cards-infos">
        <h5><%= shelters[0].name %></h5>
        <%= link_to shelter_path(shelters[0].id) do %>
          <p>Contact refuge</p>
        <% end %>
      </div>



      <% shelters[1].each do |animal|  %>
      <ul>
        <div class="pets-li">
          <li>
            <div class= "pets-cards-shelter">
              <div class= "pets-cards-shelter-img" style='background-image: url("<%= cl_image_path animal.photo.key %>")'>
              </div>
              <div class= "pets-cards-shelter-infos">
                <p><%= animal.name %></p>
                <p><%= animal.race %></p>
              </div>
              <p>Voir profil </p>
              <i class="fa-regular fa-circle-xmark"></i>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <% end %>
  <% end %>
</div>
