<%= render "shared/navbar" %>

<div class="container container-list-pets">
  <h2>Wishlist</h2>
  <div class="shelter-cards">
    <div class="shelter-cards-infos">
      <h5>SPA Lille</h5>
      <p>Contact refuge</p>
    </div>
    <ul>
      <div class="pets-li">
        <li>
          <div class= "pets-cards-shelter">
            <div class= "pets-cards-shelter-img" style='background-image: url("<%= image_path('socrate-img.jpg') %>")'>
            </div>
            <div class= "pets-cards-shelter-infos">
              <p>Socrate</p>
              <p>Européen</p>
            </div>
            <p>Voir profil </p>
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </li>
      </div>
      <div class="pets-li">
        <li>
          <div class= "pets-cards-shelter">
            <div class= "pets-cards-shelter-img" style='background-image: url("<%= image_path('charlemagne-img.jpg') %>")'>
            </div>
            <div class= "pets-cards-shelter-infos">
              <p>Charlemagne</p>
              <p>Ratier</p>
            </div>
            <p>Voir profil </p>
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </li>
      </div>
      <div class="pets-li">
        <li>
          <div class= "pets-cards-shelter">
            <div class= "pets-cards-shelter-img" style='background-image: url("<%= image_path('patoche-img.jpg') %>")'>
            </div>
            <div class= "pets-cards-shelter-infos">
              <p>Patoche</p>
              <p>Border Collie</p>
            </div>
            <p>Voir profil </p>
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </li>
      </div>
    </ul>
  </div>
  <div class="shelter-cards">
    <div class="shelter-cards-infos">
      <h5>LPA Lille</h5>
      <p>Contact refuge</p>
    </div>
    <ul>
      <div class="pets-li">
        <li>
          <div class= "pets-cards-shelter">
            <div class= "pets-cards-shelter-img" style='background-image: url("<%= image_path('julio-img.jpg') %>")'>
            </div>
            <div class= "pets-cards-shelter-infos">
              <p>Julio</p>
              <p>Husky Sibérien</p>
            </div>
            <p>Voir profil </p>
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </li>
      </div>
      <div class="pets-li">
        <li>
          <div class= "pets-cards-shelter">
            <div class= "pets-cards-shelter-img" style='background-image: url("<%= image_path('tina_img.jpg') %>")'>
            </div>
            <div class= "pets-cards-shelter-infos">
              <p>Tina</p>
              <p>Européen</p>
            </div>
            <p>Voir profil </p>
            <i class="fa-regular fa-circle-xmark"></i>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
