<%= render "shared/navbar" %>
<div class="container mt-3">
  <h2 class="text-center">Éditer mon profil</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }, html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :last_name,
                  label: "Nom",
                  required: false %>
      <%= f.input :first_name,
                  label: "Prénom",
                  required: false %>
      <%= f.input :city,
                  label: "Ville",
                  required: false %>
      <%= f.input :phone_number,
                  label: "Numéro de téléphone",
                  required: false %>
      <%= f.input :age,
                  label: "Âge",
                  required: false %>
      <%= f.input :situation,
                  label: "Situation",
                  required: false %>
      <%= f.input :password,
                  label: "Nouveau mot de passe",
                  hint: "Laissez ce champ vide si vous ne voulez pas le modifier",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  label: "Confirmer le nouveau mot de passe",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  label: "Ancien mot de passe",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Mettre à jour", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= link_to "Retour", pets_path, class: "btn btn-success mt-3 back-btn" %>
</div>
