<% index = 0 %>
  <% @pets.each do |pet| %>
    <div class="card-size d-none" data-list-target="pet">
      <div class="card-trip mt-5">

  <%#-----------------------------------Carousel------------------------------ %>
    <div id="<%="carouselExampleIndicators#{pet.id}"%>" class="carousel slide" data-bs-touch="true" data-bs-ride="carousel" data-bs-interval="100000000000000">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#<%="carouselExampleIndicators#{pet.id}"%>" data-bs-slide-to="0"  class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#<%="carouselExampleIndicators#{pet.id}"%>" data-bs-slide-to="1"  aria-label="Slide 2"></button>
      </div>


        <div class="carousel-inner">
          <% pet.photos.each do |photo| %>
            <div class="carousel-item <%= "active" if photo == pet.photos.first%>   ">
              <%= cl_image_tag photo.key, class: "pet-image d-block w-100" %>
            </div>
          <% end %>
        </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#<%="carouselExampleIndicators#{pet.id}"%>" data-bs-slide="prev">
        <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span> %>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#<%="carouselExampleIndicators#{pet.id}"%>" data-bs-slide="next">
        <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
        <%# <span class="visually-hidden">Next</span> %>
      </button>
    </div>


<%#---------------------------------------Carousel------------------------------ %>
        <div class="container">
          <div class="box-main">
            <div class="list-pets-box"></div>
            <div class="list-pets-box">
              <h1 class="dog-name"><%= pet.name %></h1>
            </div>
            <div class="list-pets-box">
              <div class="list-pets-left-box">
              <% if !pet.family_friendly %>
                <%= image_tag "https://www.la-spa.fr/static/media/nochildren.bb371c9d.svg", class: "nochildren-icon" %>
              <% end %>
                <% if !pet.cat_friendly %>
                  <%= image_tag "https://www.la-spa.fr/static/media/nocats.5f46b4e3.svg", class: "nocat-icon" %>
                <% end %>

              </div>
            </div>
          </div>
          <div class="box-spa">
            <i class="fa-solid fa-location-dot pet-location"></i>
            <p>SPA Lille</p>
          </div>
          <div class="box-spa">
            <i class="fa-solid fa-paw pet-paw"></i>
            <p class="quality">Qualité clé : <span><%= pet.main_quality %></span></p>
          </div>
          <div class="pet-tags">
            <div class="tag"><%= pet.race %></div>
            <div class="tag"><%= pet.gender %></div>
            <div class="tag"><%= pet.category %></div>
          </div>
          <div>
            <div class="pet-description">
              <p><%= pet.description %></p>
            </div>
          </div>
          <div class="pet-liker">
            <div>
              <%= link_to "", pet_list_pets_path(pet), class: "fa-solid fa-heart-crack cracked-heart", data: { turbo_method: :post, action: "click->list#addToWishList", index: index, liked: false, pet_id: pet.id } %>
            </div>
            <div>
              <%= link_to "", pet_list_pets_path(pet), class: "fa-solid fa-heart normal-heart", data: { turbo_method: :post, action: "click->list#addToWishList", index: index, liked: true, pet_id: pet.id } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% index += 1 %>
<% end %>

<div class=" <%= pets.empty? ? "" : "d-none" %>" data-list-target="test">
  <h2 class="text-center">Il n'y a plus de woof woof en stock</h2>
  <div class="text-center">
    <img src="https://i.pinimg.com/originals/68/e1/b1/68e1b1fa0f624d96ae19963960c44143.gif" alt="sad dog">
  </div>
  <p>Voulez-vous revoir les animaux passés ?</p>
  <%= link_to "Revoir", pets_path(refresh: true), class: "btn btn-primary" %>
</div>
